@import url('./global.css');

/* ------------ HEADER ------------ */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-neutral-silver);
}

.logo{
    padding: 30px 0px;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-header ul a{
    text-decoration: none;
    color: #18191F;
}

.active{
    font-weight: bold;
}

.btn-login{
    color: var(--color-primary);
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-SignUp{
    color: var(--color-neutral-white);
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
}

.btn-header{
    gap: 14px;
    padding: 22px 0px;
}

/* ------------ FIM HEADER ------------ */

/* ------------ MAIN ------------ */

main {
    display: flex;
    background-color: var(--color-neutral-silver);
    align-items: center;
    justify-content: center;
    gap: 104px;
    padding: 96px 0px;
}

.content-lessons {
    width: 657px;
}

h1 {
    font-size: 64px;
    color: var( --color-neutral-d_grey);
    font-weight: 600;
}

.content-lessons h1 span {
    color: var(--color-primary);
}

.content-lessons p {
    margin-top: 16px;
}
/* ------------ FIM MAIN ------------ */

/*---------------------- OUR CLIENTS-----------------------------*/
.our-clients {
    text-align: center;
}

.our-clients p {
    margin-top: 8px;
}

.logo-clients {
    display: flex;
    justify-content: center;
    gap: 136px;
    padding: 25px;
}
/*---------------------- OUR CLIENTS-----------------------------*/

/*---------------------- MANAGE SYSTEM-----------------------------*/
.manager-system {
    margin-top: 40px;
    text-align: center;
}

.manager-system h2 {
    width: 542px;
    margin: 0 auto;
}

#manager-system-subtitle {
    margin-top: 8px;
}
.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 127.5px;
}
.cards-container article {
    width: 299px;
    height: 260px;
    box-shadow: 0px 2px 4px rgba(171, 190, 209,0.2);
    padding: 24px 16px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
}

.cards-container article:hover {
    box-shadow: 0px 8px 14px rgba(171, 190, 209,0.5);
    transform: translateY(-8px);
}

.cards-container article img {
    width: 65px;
    height: 56px;
}

.cards-container article h3 {
    color: var(--color-neutral-d_grey);
    font-size: 28px;
    margin-bottom: 8px;
    width: 231px;
    margin: 0 auto;

}

.cards-container article p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.6;

}
/*---------------------- MANAGE SYSTEM -----------------------------*/

/*----------------------- PIXELGRADE -----------------------------*/
.pixelgrade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    gap: 49px;
    padding: 52px 0px;
}

.pixelgrade-content {
    width: 661px;
    margin: 0 auto;
    
}

.mobile-login img{
    width: 600px;
}

.pixelgrade-content button {
    background-color: var(--color-primary);
    padding: 14px 32px;
}

.pixelgrade-content h2 {
    font-size: 36px;
    width: 526px;
    color: var(--color-neutral-d_grey);
}

.pixelgrade p {
    color: var(--color-neutral-d_grey);
    margin-top: 16px;
}
/*----------------------- FIM PIXELGRADE -----------------------------*/    

/*---------------------- HELPING LOCAL -------------------------------*/

.helping-local {
    display: flex;
    justify-content: center;
    margin: 48px 0px;
    background-color: var(--color-neutral-silver);
    align-items: center;
    gap: 204px;
    padding: 64px 0px;

}

.helping-content h2 {
    width: 390px;
}

.helping-content h2 span {
    color: var(--color-primary)
}

.helping-content p {
    margin-top: 8px;
    color: #18191F;
}

.helping-statistic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.helping-itens {
    display: flex;
}

.helping-itens img{
    width: 48px;
}

.information-itens{
    text-align: start;
}
/*---------------------------ITENS----------------------------------*/

/*-------------------- FIM HELPING LOCAL ---------------------------*/